/* https://colorhunt.co/palette/eff5f5d6e4e5497174eb6440 */
/* For colors used: https://colornamer.robertcooper.me/*/

@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/AvenirLTStd-Roman.otf");
}

:root {
  --backery-box: #eff5f5;
  --era: #d6e4e5;
  --opulent-orange: #eb6440;
  --white: #ffffff;
  --vining-ivy: #497174;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--backery-box);
}

.page-container {
  width: 360px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Avenir";
  display: flex;
  flex-direction: column;
}
/* header */

.app-header {
  margin: 0 auto;
  width: 90%;
  height: 100px;
  gap: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
  width: 85px;
  height: 85px;
}

.header-text-wrapper {
  color: var(--vining-ivy);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-title {
  font-size: 24px;
  font-weight: 900;
  text-shadow: 1px 3px 5px rgb(192, 192, 198);
}
.header-subtitle {
  font-size: 14px;
  font-weight: 600;
  text-shadow: 1px 3px 5px rgb(192, 192, 198);
  margin-left: 20px;
}

/* welcome section */
.welcome-container {
  width: 90%;
  height: 280px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--vining-ivy);
  border-radius: 20px 20px 40px 40px;
}
.welcome-text-wrapper {
  padding: 10px 20px;
  color: var(--backery-box);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
}
.welcome-title {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 16px;
}
.month-info-btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--opulent-orange);
  color: var(--backery-box);
  min-width: 130px;
  height: 35px;
  padding: 5px;
  font-size: 15px;
  align-self: center;
  border-radius: 30px;
  border: none;
  box-shadow: 1px 3px 5px rgb(139, 139, 146);
  cursor: pointer;
  transition: transfor 0.5s ease;
}

.announcement {
  font-size: 15px;
}

.errors-info {
  color: var(--opulent-orange);
}
/* income/outcome sections */
.income-expanse-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.income-container {
  margin-top: -120px;
}
.income-container,
.expense-container {
  background-color: var(--era);
  width: 300px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.list-title {
  font-size: 20px;
  font-weight: 800;
  color: var(--vining-ivy);
}
.income-expense-header-container {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.input {
  color: var(--vining-ivy);
  background-color: var(--backery-box);
  border: none;
  transition: height 0.4s ease-in-out;
}

.input:focus {
  height: 35px;
  border: 3px solid #555555;
}

.name-input {
  max-width: 140px;
}
.amount-input {
  max-width: 60px;
}
.add-btn {
  color: var(--backery-box);
  background-color: var(--vining-ivy);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
/* list of items - to js */
.list-container {
  font-size: 16px;
  font-weight: 400;
  color: var(--vining-ivy);
}

.list-items {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 200;
  color: var(--vining-ivy);
}

.input-btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.see-more-btn {
  width: 75px;
  height: 30px;
  margin-top: 10px;
  margin-left: -15px;
  font-size: 12px;
  color: var(--vining-ivy);
  text-align: center;
  background-color: var(--era);
  box-shadow: 1px 3px 5px rgb(139, 139, 146);
  border: 1px solid var(--vining-ivy);
  border-radius: 20px;
  cursor: pointer;
  transition: transfor 0.5s ease;
}

.month-info-btn:hover,
.see-more-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0.5em 5px 0.5em -0.8em var(--opulent-orange);
}

.hidden {
  display: none;
}

.btn-wrapper {
  display: flex;
  gap: 5px;
}
.change-input {
  width: 100px;
}

.change-input-name {
  margin-left: -25px;
}

.change-btn,
.delete-btn,
.change-accept-btn {
  background-color: var(--backery-box);
  color: var(--vining-ivy);
  font-size: 12px;
  cursor: pointer;
}

.input:focus {
  height: 35px;
  border: 3px solid #555555;
}

/* sumowanie */
.sum-container {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--opulent-orange);
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.sum-title {
  padding: 10px;
}
.sum {
  padding: 10px;
}

/* footer */
.app-footer {
  height: 50px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 20px;
}
.company-name {
  color: var(--vining-ivy);
  font-size: 15px;
  font-weight: 400;
}
.fb-insta-logo-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 10px;
}

.footer-icon-btn {
  width: 28px;
  height: 28px;
  align-items: center;
  background-color: var(--vining-ivy);
  color: var(--white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
/*  */
/*  */
@media screen and (min-width: 768px) {
  .page-container {
    width: 760px;
    min-height: 100vh;
  }

  .app-header {
    width: 100%;
  }

  .welcome-container {
    width: 100%;
  }

  .welcome-title {
    font-size: 21px;
  }

  .announcement {
    font-size: 18px;
  }

  .income-expanse-container {
    flex-direction: row;
    align-items: start;
    gap: 40px;
  }

  .income-container,
  .expense-container {
    margin-top: -120px;
  }
}
/*  */
/*  */
@media screen and (min-width: 992px) {
  .page-container {
    width: auto;
  }

  .app-header {
    padding: 20px 40px;
  }

  .welcome-container {
    width: 100%;
    height: 350px;
    border-radius: 0px 0px 80px 80px;
  }

  .welcome-text-wrapper {
    padding: 20px 40px;
  }

  .welcome-title {
    font-size: 24px;
    margin: 0 auto;
  }
  .month-info-btn {
    min-width: 180px;
    height: 50px;
    font-size: 18px;
    margin: 0;
  }

  .announcement {
    font-size: 20px;
    margin: 0 auto;
  }

  .income-expanse-container {
    flex-direction: row;
    gap: 120px;
    height: auto;
  }

  .income-container,
  .expense-container {
    margin-top: -130px;
    width: 400px;
  }

  .income-expense-header-container {
    margin-top: 20px;
    font-size: 16px;
  }

  .name-input {
    max-width: 220px;
  }
  .amount-input {
    max-width: 100px;
  }

  .list-items {
    font-size: 15px;
  }

  .input-btn-container {
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .btn-wrapper {
    display: flex;
    gap: 8px;
  }

  .change-btn,
  .delete-btn,
  .change-accept-btn {
    font-size: 14px;
    text-align: center;
  }

  .sum-container {
    margin-top: 15px;
  }

  .app-footer {
    padding: 20px 40px;
  }
  .company-name {
    font-size: 16px;
  }
}
